# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Toontown
settings.json
logs/
screenshots/
backups/

# I really hate these things...
resources/phase_3/maps/Thumbs.db
resources/phase_3.5/maps/Thumbs.db
resources/phase_4/maps/Thumbs.db
resources/phase_5/maps/Thumbs.db
resources/phase_5.5/maps/Thumbs.db
resources/phase_6/maps/Thumbs.db
resources/phase_7/maps/Thumbs.db
resources/phase_8/maps/Thumbs.db
resources/phase_9/maps/Thumbs.db
resources/phase_10/maps/Thumbs.db
resources/phase_11/maps/Thumbs.db
resources/phase_12/maps/Thumbs.db
resources/phase_13/maps/Thumbs.db
